

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
button{
    margin-left: 10px;
    margin-top: 10px;
}
.jumbotron{
    color: azure;
    text-align: center;
    background: rgb(53, 3, 87);
}
.container2{ 
    float: right;
    margin-top: 20px;
}

#add-movie{
    padding: 10px;
    background: blue;
    border-radius: 10px;
    border-color: blue;
    color: antiquewhite;
    outline: none;
}


/*updates gif photo to show left to right versus just vertical */
.item {
	padding: 10px;
	display: inline-block;
}
